body{
    font-family: Arial;
    background-color: #cecece;
    background-image: url(img/bg/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
}
h1{
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px #8A64C9;
}
.container{
    width: 600px;
    background-color: #202020;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.gallery li{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* overflow: hidden; */
    border: 5px solid #8A64C9;
    float: left;
    position: relative;
    margin-right: 20px;
}
.gallery li a img{
    border-radius: 50%;
}
.gallery li span{
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200, 200, 200, .5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    font-weight: bold;
    opacity: 0;
    transition: 0.5s;
}
.gallery li a:hover span{
    opacity: 1;
}
.clear{
    clear: both;
}

/* overlay */
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: 0.5s;
    text-align: center;
    padding: 100px 0;
}
.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
}
.overlay img{
    max-height: 100%;
    border: 5px solid rgb(37, 37, 37);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.overlay:target img{
    animation: zoom 1s;
}
.overlay .close{
    position: absolute;
    top: 60px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
}
.overlay .close:hover{
    color: #7000ff;
}
.overlay:target .close{
    animation: slideDown 1s .5s forwards;
}
/* Navigasi Overlay */

@keyframes zoom{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideDown{
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}